[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group Hima Developers
	forgeAuthor = group Hima Developers
	forgeCommitter = group Hima Developers
	push = +force group Hima Developers
	pushMerge = group Hima Developers
	label-Code-Review = -2..+2 group Hima Developers
	label-Verified = -1..+1 group Hima Developers
	rebase = group Hima Developers
	submit = group Hima Developers
